/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  box-shadow: 1px 0px #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 20px;
  width: 20px;
  margin: 10px;
}
.heading {
  color: #616e7c;
  font-size: 20px;
  font-family: 'Roboto';
}
